.group-color {
  &-0 {
    background-color: #22fab8;
  }
  &-1 {
    background-color: #96fddd;
  }
  &-2 {
    background-color: #f5b0a9;
  }
  &-3 {
    background-color: #ee786c;
  }
  &-4 {
    background-color: #e89fe1;
  }
  &-5{
    background-color: #bc8bea;
  }
  &-6 {
    background-color: #db68d0;
  }
  &-7 {
    background-color: #cda7ef;
  }
  &-8 {
    background-color: #46a0e3;
  }
  &-9 {
    background-color: #90c6ee;
  }
}
